<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new task
    </h1>

    <div class="field">
      <input #UsernameInput class="input has-background-light is-medium" type="text" placeholder="Enter Name...">
    </div>
    <div class="field">
      <input #amountInput class="input has-background-light is-medium" type="number" placeholder="Enter Amount...">
    </div>
    <br>
    <div class="buttons is-right">
      <button class="button is-medium" (click)="onCancelClicked()">Cancel</button>
      <button class="button is-primary has-text-white is-medium" [class.is-loading]="isLoading" [disabled]="isLoading" (click)="createTask(UsernameInput.value, amountInput.value)">Add</button>
    </div>
  </div>
</div>
